# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables
*.out

# Logger
*.log

#idea
*.idea

#Folders
/bin
/lib
/log
/build
/check
/fullhtml
/pvs-result
/cmake-build-debug
/cmake-build-release
