# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables files
*.out

# Logging files
*.log

# idea
*.idea

# Sourcetrail files
*.srctrlbm
*.srctrldb
*.srctrlprj
compile_commands.json
coverity-build-log.txt

#Folders
/bin
/lib-debug
/lib-release
/log
/build
/check
/fullhtml
/pvs-result
/cmake-build-debug*
/cmake-build-release*
/.scannerwork
/infer-out
